body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    
}

.header .weather-logo{
    height: 100px;
    width: 100px;

}

h1 {
    margin-bottom: 20px;
    color: rgb(129, 126, 126);

}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weather-result {
    margin-top: 20px;
}

#weather-result p {
    margin: 5px 0;
}